@page
@model SSD_Assignment.Pages.Listings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Products.css" />
}

<div class="left-portion">
    <img src="~/Uploads/Listings/@Model.Listing.PhotoPath">
</div>
<div class="right-portion">
    <h2>
        @Html.DisplayFor(model => model.Listing.Title)
    </h2>
    <hr />
    <table class="description-table">
        <tr>
            <td><img src="~/images/Listings/price-tag.png"></td>
            <td>S$@Html.DisplayFor(model => model.Listing.Price)</td>
        </tr>
        <tr>
            <td><img src="~/images/Listings/box-closed.png"></td>
            <td>@Html.DisplayFor(model => model.Listing.Condition)</td>
        </tr>
        <tr>
            <td><img src="~/images/Listings/menu-icon.png"></td>
            <td>@Html.DisplayFor(model => model.Listing.Category)</td>
        </tr>
        <tr>
            <td style="vertical-align: text-top"><img src="~/images/Listings/information.png"></td>
            <td class="description">@Html.DisplayFor(model => model.Listing.Description)</td>
        </tr>
        <tr>
            <td colspan="2"><a asp-page="./Delete" asp-route-id="@Model.Listing.ID">Delete</a></td>
        </tr>
    </table>
</div>
<a asp-page="./Promotion">
    <input type="submit" value="Promote" />
</a>

@*<h2>Details</h2>

    <div>
        <h4>Listing</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Listing.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Listing.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Listing.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Listing.Price)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Listing.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Listing.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Listing.Category)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Listing.Category)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Listing.Condition)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Listing.Condition)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Listing.ID">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>*@
