@page
@model SSDAssignment.Pages.Audit.DetailsModel

@{
    ViewData["Title"] = "Details";
}


<h2 style="padding-top: 20px;">Details</h2>

<div>
    <h4>AuditRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuditRecord.AuditActionType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuditRecord.AuditActionType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuditRecord.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuditRecord.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuditRecord.DateTimeStamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuditRecord.DateTimeStamp)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AuditRecord.Audit_ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
